*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "form section";
}
/* =====erore========= */
.erore{
    display: block;
    color: red;
}
/* ========form======== */
form{
    width: 100%;
    padding: 2em;
    grid-area: form;
    font-size: large;
}
form p{
    display: none;
    margin-top: 0;
}
form label{
    font-size: large;
}
form input[type=text]{
    width: 100%;
    padding: 10px 0;
    font-size: large;
    color: rgb(0, 0, 0);
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
form input[type=date]{
    width: 100%;
    padding: 10px 0;
    font-size: large;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
form select{
    width: 100%;
    height: 2em;
    font-size: large;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
form button{
    padding: 1em 3em;
    margin: 1em 0 0 0;
    border: none;
    color:white;
    background-color: darkturquoise;
}
form button:hover{
    background-color: turquoise;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=radio]{
    cursor: pointer;
}
form fieldset{
    margin-bottom: 1em;
}
#save{
    /* display: none; */
    background-color: red;
}
/* ========section====== */
section{
    padding: 2em;
    grid-area: section;
    width: 100%;
}
/* ========table======= */
table{
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table tr th, td{
    padding: 0.5em 2em;
}
table button{
    padding: 5px 10px;
    margin: 1px;
    width: 100%;
    cursor: pointer;
}
.add{
    color: black;
    background-color:white;
}
.add:hover{
    color: white;
    background-color: black;
}
.remove{
    color: white;
    background-color: red;
}
.remove:hover{
    color: red;
    background-color: white;
}